
QRCode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QRCode.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QRCode.xcodeproj/project.xcworkspace/xcuserdata/kyrylochernov.xcuserdatad/UserInterfaceState.xcuserstate
QRCode.xcodeproj/xcuserdata/kyrylochernov.xcuserdatad/xcschemes/xcschememanagement.plist
