
QRCode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QRCode.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QRCode.xcodeproj/project.xcworkspace/xcuserdata/kyrylochernov.xcuserdatad/UserInterfaceState.xcuserstate
QRCode.xcodeproj/xcuserdata/kyrylochernov.xcuserdatad/xcschemes/xcschememanagement.plist
QRCode.xcodeproj/xcuserdata/kyrylochernov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
QRCodeApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QRCodeApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QRCodeApp.xcodeproj/project.xcworkspace/xcuserdata/kyrylochernov.xcuserdatad/UserInterfaceState.xcuserstate
QRCodeApp.xcodeproj/xcuserdata/kyrylochernov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
QRCodeApp.xcodeproj/xcuserdata/kyrylochernov.xcuserdatad/xcschemes/xcschememanagement.plist
